@import "constants.scss";

.user-information-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-top: 4%;
  padding-bottom: 3%;
  border: 3px solid $white;
  border-radius: 14px;
  opacity: 1 !important;
}

.permissions {
  padding-bottom: 1%;
}

.user-information-h3 {
  color: $white;
  font-size: $font-size-container-headings;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 27px;
  position: relative;
  left: 10px;
}

.inner-fieldset {
  width: 100%;
}

.permissions-slider {
  color: $white;
  margin: 3%;
}

.form-add {
  display: flex;
  flex-wrap: wrap;
  place-content: space-between;
  width: 90%;
  align-self: center;
  margin-bottom: 15px;
  margin-top: 2%;
}

.secutity-input-container {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-top: 2%;
}

.input-fields-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 2% 5% 0 2%;
}

.add-button {
  cursor: pointer;
  background-color: $white;
  color: $primary-blue;
  border-radius: 3px;
  border: none;
  width: 15%;
  height: 35px;
  font-weight: 600;
  margin-left: 5%;
}

mat-form-field {
  width: 44%;
}

mat-label {
  color: $white;
}

.mat-elevation-z8 {
  width: 100%;
  align-self: center;
}

.mat-input-element {
  color: $white;
}

::ng-deep.mat-form-field-underline {
  background-color: $white !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  -webkit-text-fill-color: $white;
  transition: background-color 5000s ease-in-out 0s;
}
