<fieldset class="user-information-container">
  <legend class="user-information-h3">{{"user-information" | translate}}</legend>

  <form class="form-add" [formGroup]="employeeFormGroup">
    <div class="input-fields-container">
      <mat-form-field appearance="legacy" class="input">
        <mat-label>{{"label-search-input-firstEmployeeName" | translate}}</mat-label>
        <input
          matInput
          placeholder="First name"
          type="text"
          formControlName="firstName"
        />
        <mat-error
          *ngIf="employeeFormGroup.get('firstName').hasError('required')"
          >{{"error-search-input-firstEmployeeName" | translate}}</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="legacy" class="input">
        <mat-label>{{"label-search-input-lastEmployeeName" | translate}}</mat-label>
        <input
          matInput
          placeholder="Last name"
          type="text"
          formControlName="lastName"
        />
        <mat-error
          *ngIf="employeeFormGroup.get('lastName').hasError('required')"
          >{{"error-search-input-lastEmployeeName" | translate}}</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="legacy" class="input">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          type="text"
          formControlName="email"
        />
        <mat-error *ngIf="employeeFormGroup.get('email').hasError('required')"
          >{{"email-required" | translate}}</mat-error
        >
        <mat-error *ngIf="employeeFormGroup.get('email').hasError('email')"
          >{{"valid-email" | translate}}</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="legacy" class="input">
        <mat-label>{{"balance" | translate}}</mat-label>
        <input
          matInput
          placeholder="Balance"
          type="number"
          formControlName="balance"
        />
        <mat-error *ngIf="employeeFormGroup.get('balance').hasError('required')"
          >{{"balance-required" | translate}}</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="legacy" class="input">
        <mat-label>SSN</mat-label>
        <input matInput placeholder="SSN" type="text" formControlName="ssn" />
        <mat-error *ngIf="employeeFormGroup.get('ssn').hasError('required')"
          >{{"ssn-required" | translate}}</mat-error
        >
        <mat-error *ngIf="employeeFormGroup.get('ssn').hasError('pattern')"
          >{{"ssn-only-nums" | translate}}</mat-error
        >
        <mat-error
          *ngIf="
            employeeFormGroup.get('ssn').hasError('minlength') ||
            employeeFormGroup.get('ssn').hasError('maxlength')
          "
          >{{"ssn-characters" | translate}}</mat-error
        >
      </mat-form-field>

      <fieldset class="user-information-container inner-fieldset">
        <legend class="user-information-h3">{{"security" | translate}}</legend>
        <div class="secutity-input-container">
          <mat-form-field appearance="legacy" class="input">
            <mat-label>{{"username" | translate}}</mat-label>
            <input
              matInput
              placeholder="Username"
              type="text"
              formControlName="loginName"
            />
            <mat-error
              *ngIf="employeeFormGroup.get('loginName').hasError('required')"
              >{{"username-required" | translate}}</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="legacy" class="input">
            <mat-label>{{"password-label" | translate}}</mat-label>
            <input
              matInput
              placeholder="Password"
              type="password"
              autocomplete="new-password"
              formControlName="password"
            />
            <mat-error
              *ngIf="employeeFormGroup.get('password').hasError('required')"
              >{{"password-error" | translate}}</mat-error
            >
            <mat-error
              *ngIf="employeeFormGroup.get('password').hasError('minlength')"
              >{{"password-error-symbols" | translate}}</mat-error
            >
          </mat-form-field>
        </div>
        
      </fieldset>

      <fieldset class="user-information-container inner-fieldset permissions">
        <legend class="user-information-h3">{{"permissions" | translate}}</legend>
        <mat-slide-toggle
            class="permissions-slider"
            formControlName="canFillClaims"
            [color]="'warn'"
            >{{"can-fill-claims" | translate}}</mat-slide-toggle
          >
      </fieldset>
    </div>
  </form>
  <div class="buttons-container">
    <button class="add-button" (click)="onSubmit()">{{"submit" | translate}}</button>
    <button class="add-button" (click)="onCancel()">{{"cancel" | translate}}</button>
  </div>
</fieldset>
