@import 'constants.scss';

.container-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid $white;
  border-radius: 15px;
  opacity: 1 !important;
}

.content {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  margin: 4% 0;
}

.container-title {
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;
}

.label-employer-name {
  display: flex;
  color: $white;
  align-items: center;
  font-size: $font-size-page-headings;
}

.select-employer-btn {
  cursor: pointer;
  background-color: $secondary-blue;
  color: $white;
  border-radius: $border-radius-btns;
  border: none;
  width: 219px;
  height: $add-employer-btn-height;
  margin-left: auto;
  font-weight: bold;
  transition: $transform-btn-time;
  &:hover{
    transition: $transform-btn-time;
    transform: $transform-btn-scale;
  }
}

.general-container, .contributions-container {
  display: flex;
  align-self: center;
  flex-direction: row;
  margin-top: 12px;
  margin-bottom: 3%;
  border: 3px solid $white;
  border-radius: 14px;
  opacity: 1 !important;
}

.general-h3, .contributions-h3 {
  color: $white;
  font-size: $font-size-container-headings;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 27px;
  position: relative;
  left: 10px;
}

.input-name-plan, .input-contribution{
  width: 40%;
  margin-left: 4%;
}

.input-type-plan{
  margin-left: auto;
  margin-right: 4%;
  align-self: center;
  width: 40%;
}

.btn-container{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-top: 3%;
}

.cancel-plan-btn{
  margin-right: 3%;
}

.cancel-plan-btn, .submit-plan-btn {
  cursor: pointer;
  background-color: $white ;
  color:  $secondary-blue;
  border-radius: $border-radius-small-btns;
  border: none;
  width: 120px;
  height: 37px;
  align-self: flex-start;
  font-weight: bold;
  margin-bottom: 1%;
  transition: $transform-btn-time;
  &:hover{
    transition: $transform-btn-time;
    transform: $transform-btn-scale;
  }
}


::ng-deep.mat-form-field-ripple{
  background-color: $white !important;
}

::ng-deep.mat-form-field-underline::before{
  background-color: $white-blue !important;
}

input{
  color: $white ;
}

mat-label{
  color: $white-blue ;
}

.mat-input-element:disabled{
  color: $white ;
}
