@import "constants.scss";

mat-paginator {
  border: none;
  box-shadow: none !important;
  background-color: transparent;
}

::ng-deep .mat-paginator-outer-container {
  border: none;
  background-color: transparent;
}

.update-employees-btn {
  display: flex;
  margin-left: auto;
  ::ng-deep .mat-button-wrapper {
    color: $white;
  }
}

.container {
  position: relative;
  margin-bottom: 3%;
}

.table-container {
  position: relative;
}

table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

.mat-header-row {
  background-color: $secondary-blue;
}

td {
  color: #00546f;
  font-size: 16px;
}
th,
tr {
  color: $white;
  font-size: 16px;
}

tr.mat-row{
  height: $table-tr-height;
  transition: $transform-btn-time;
  &:hover {
    transition: $transform-btn-time ;
    background-color: wheat;
  }
}

tr:nth-child(2n) {
  background-color: $white-blue;
}

mat-paginator {
  color: $white;
  font-size: 15px;
}

.mat-button-wrapper {
  color: $white;
}

.enrollment-btn {
  ::ng-deep .mat-button-wrapper {
    color: $secondary-blue;
  }
}

::ng-deep .mat-select-arrow {
  color: $white;
}

::ng-deep .mat-sort-header-arrow {
  color: $white;
}

th.mat-header-cell:last-of-type {
  padding-right: 0;
}

td.mat-cell:last-of-type {
  padding-right: 0;
}

.mat-column-firstName {
  cursor: pointer;
  width: auto;
  border-right: 2px solid $white;
}

.mat-column-enrollments {
  width: auto;
  text-align: center;
  border-right: 2px solid $white;
  ::ng-deep.mat-sort-header-container {
    justify-content: center;
  }
}

.delete-company-btn {
  cursor: pointer;
  background-color: $secondary-blue;
  color: $white;
  border-radius: $border-radius-small-btns;
  border: none;
  width: auto;
  font-weight: bold;
  height: 30px;
  transition: $transform-btn-time;
  margin-right: 1%;
  &:hover {
    transition: $transform-btn-time;
    transform: $transform-btn-scale;
  }
  ::ng-deep .mat-button-wrapper {
    color: $secondary-blue;
  }
}

.enrollment-btn {
  transition: $transform-btn-time;
  &:hover {
    transition: $transform-btn-time;
    transform: $transform-btn-rotate-half;
  }
}

.mat-column-firstName {
  width: auto;
  border-right: 2px solid $white;
}

.mat-column-lastName {
  width: auto;
  text-align: center;
  border-right: 2px solid $white;
  ::ng-deep.mat-sort-header-container {
    justify-content: center;
  }
}

.mat-column-ssn {
  width: auto;
  text-align: center;
  border-right: 2px solid $white;
  ::ng-deep.mat-sort-header-container {
    justify-content: center;
  }
}

.mat-column-actions {
  width: auto;
  text-align: center;
  ::ng-deep.mat-sort-header-container {
    justify-content: center;
  }
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: $secondary-blue;
}

.enrollment-btn {
  cursor: pointer;
  background-color: $secondary-blue;
  color: $white;
  border-radius: $border-radius-small-btns;
  border: none;
  width: auto;
  height: 30px;
  font-weight: bold;
  transition: $transform-btn-time;
  margin-right: 1%;
  &:hover {
    transition: $transform-btn-time;
    transform: $transform-btn-scale;
  }
}
