<div class="container-main">
  <div class="container">
    <div class="header">
      <h2 class="heading"> Employer administration for {{ employer?.companyName }} </h2>
      <button  class="select-different-employer-btn"  (click)="selectDifferentEmployee()" >
      {{"select-different-employer" | translate}}
      </button>
    </div>

    <div class="container-user-info">

      <router-outlet></router-outlet>

      <app-employees-table
      *ngIf="employer"
      [employerId]="employerId"
      [consumersAmount]="amount$"
      [searchEvent]="searchEvent"
    ></app-employees-table>
    </div>
  </div>
</div>


