@import 'constants.scss';

.container{
  display: flex;
  flex-direction: column;
}

span{
  font-weight: bold;
  color: $primary-blue;
}

button{
  margin-left: auto;
  cursor: pointer;
  background-color: $secondary-blue;
  color: $white;
  border-radius: 13px;
  border: none;
  width: 120px;
  height: 35px;
  align-self: flex-end;
  font-weight: bold;
  margin-top: 5%;
  transition: $transform-btn-time;
  &:hover{
    transition: $transform-btn-time;
    transform: $transform-btn-scale;
  }
}
