@import 'constants.scss';

.container-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 1 !important;
}

.content {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 95%;
  margin-top: 20px;
}

.add-employee-btn {
  cursor: pointer;
  background-color: $secondary-blue;
  color: $white;
  border-radius: $border-radius-btns;
  border: none;
  width: 219px;
  height: 35px;
  align-self: self-end;
  font-weight: bold;
  transition: $transform-btn-time;
  &:hover{
    transition: $transform-btn-time;
    transform: $transform-btn-scale;
  }
}

.add-employee-disabled-btn {
  cursor: not-allowed;
  color: $white-blue;
  background-color: $secondary-blue-transparent;
  border-radius: $border-radius-btns;
  border: none;
  width: 219px;
  height: 44px;
  align-self: self-end;
  font-weight: bold;
}

.search-criteria-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 3%;
  width: 95%;
  border: 3px solid $white;
  border-radius: 14px;
  opacity: 1 !important;
  padding-left: 20px;
  padding-right: 20px
}

.search-criteria-h3 {
  color: $white;
  font-size: $font-size-container-headings;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 27px;
  position: relative;
  left: 10px;
}
