.logo{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo-image{
  width: 32.02px;
  height: 32.02px;
  background: #00546F;
  border-radius: 7px;
}

.logo-text{
  display: block;
  font-weight: 500;
  font-size: 26px;
  color: #FFFFFF;
  margin: 0 10px;
}
