$secondary-blue: #008db9;
$secondary-blue-transparent: #008eb942;
$white: #ffffff;
$white-blue: #B2CBD3;
$primary-blue: #00546F;
$successStatusTextColor: greenyellow;

$border-radius-btns: 10px;
$border-radius-small-btns: 5px;

$home-page-title-size: 2.3em;

$border-radius-inner-containers: 14px;

$font-size-container-headings: 16px;
$font-weight-container-headings: 500;
$font-weight-important-buttons: 600;

$font-size-page-headings: 22px;
$add-employer-btn-height: 30px;

$line-height: 2px;

$transform-btn-time: 0.3s;
$transform-btn-scale: scale(1.04);
$transform-btn-rotate-full: rotate(1turn);
$transform-btn-rotate-half: rotate(0.5turn);

$table-tr-height: 40px
